@use "sass:map";
@import "style/pages/all";


.promo_list{
    
    h1{
        font-size: 24px;
        margin-bottom: 20px; 
        text-align: center;
        margin-top: 20px;

    }
    .product-list{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

}