@use "sass:map";
@import "style/pages/all";


    .title_page{
        font-size: 24px;
        margin-bottom: 20px; 
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        
    }
    .video-container{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        width: calc(50% - 10px); 
        margin: 0 auto;
        
    }
    iframe {
        width: 700px;
        height: 300px; 

      }
.tin-tuc-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    

}


